<launch>
    <node name="animation_render" pkg="animation_render" type="animation_render_node" output="screen">
        <param name="control_topic" value="/tplsearch/control"/>

        <param name="autostart" value="0"/>
        <param name="runs" value="3"/>

        <param name="object" value="Cylinder"/>
        <!-- Length, Height -->
        <param name="model_parameter_1" value="0.05"/>
        <!-- Radius, Width -->
        <param name="model_parameter_2" value="0.01"/>
        <!-- Faces -->
        <param name="model_parameter_3" value="200"/>

        <param name="animation" value="TestInverseCompositional"/>
        <!--  RotationPlaneZ RotationCylinder2 TranslationCylinder1 TranslationPlane1 -->

        <param name="list_length" value="5"/>
        <param name="template_keywords" value="book"/>
        <param name="background_keywords" value="room"/>
        <param name="render_image_width" value="500"/>
        <param name="render_image_height" value="500"/>

        <param name="fps" value="25"/>
        <param name="frames" value="1000"/>

        <param name="skip_image_download" value="true"/>
        <param name="skip_ground_truth" value="true"/>
        <param name="skip_render" value="true"/>
        <param name="skip_img_list" value="true"/>

        <param name="template_resize" value="100"/>
    </node>
</launch>
